.title{
    color: green;
}
img:hover{
    height: 300px;
    width: 300px;
}
img{
    height: 250px;
    width: 250px;
    padding: 1px;
}
.table{
    border-collapse: collapse;
    width: 930px;
    height: 310px;
    text-align: center;
    vertical-align: center;
}
table, th, td{
    border: 1px solid black;
}
#vardas{
    background-color: maroon;
    color: gainsboro;
}